/* 
break-point : <768 
              >=992px

*/

:root {
    --main-blue:#0065FC;
    --secondary-blue:#DEEBFF;
    --bcg-color:#F2F2F2;
}

*{
    box-sizing: border-box;
}

body {
    
    font-family: 'Raleway', sans-serif;
    max-width: 1280px;
    margin: auto;
    
}

/**************** Header ******************/
#header,
.navbar-nav {
    display: flex;
}

#header {
    align-items: center;
    justify-content: space-between;
    padding: 0 68px;
    
}

.header-navbar {
    padding-bottom: 14px;
}

.header-navbar .nav-item {
    margin-left: 64px;
    font-weight: bold;
    position: relative;
    padding: 0 20px;
}

.nav-item.active {
    color:var(--main-blue);
}

.header-navbar .nav-item:nth-child(1):before {
    content:"";
    background-color: var(--main-blue);
    width: 100%;
    height:1px;
    position: absolute;
    left: 0;
    top:-30px;
}

/*********** article search **********/
.search{
    padding:0 48px;
}

.search-title {
    margin: 0;
    font-size: 18px;
}

.search-subtitle {
    margin-top: 5px;
    font-size: 14px;
    font-weight: normal;
}

.search-form,
.search-filter,
.search-filter-List,
.search-filter-list-item,
.search-info {
    display: flex;
    align-items: center;
}

.search-form {
    width: 30%;
    min-width: 420px;
}

.search-input label {
    background-color: var(--bcg-color);
    padding: 10px 10px 10px 15px;
    border-radius: 10px 0 0 10px;
}

.search-input input {
    padding: 10px;
    outline: none;
    font-weight: bold;
}

.search-form button {
    padding: 10px;
    border: none;
    background-color: var(--main-blue);
    color: white;
    border: 1px solid var(--main-blue);
    border-radius: 0 10px 10px 0;
}

.search-input label,
.search-input input {
    border: 1px solid var(--bcg-color);
}


.search-filter-title {
    font-size: 16px;
}

.search-filter-List{
    padding-left: 30px;
    margin-top: 26px;
}

.search-filter-list-item {
    border: 2px solid var(--bcg-color);
    margin-right: 24px;
    padding:0 18px 0 60px;
    border-radius: 25px;
    height: 50px;
    position: relative;
    font-weight:bold;
}

.search-filter-list-item i {
    padding:16px;
    border-radius: 50%;
    background-color: var(--secondary-blue);
    color:var(--main-blue);
    position: absolute;
    left:-5px;
    border: 1px solid var(--secondary-blue);

}

.search-info {
    display: flex;
    gap:10px;
    font-size: 12px;
    font-weight:bold;
    align-items: flex-start;
}

.search-info i {
    color:var(--main-blue);
    padding: 3px 6px;
    border: 1px solid var(--bcg-color);
    border-radius: 50%;
    
   
}

.search-info p {
   margin-top: 5px;
}




  