/* 
break-point : <768 
              >=992px

*/

:root {
    --main-blue:#0065FC;
    --secondary-blue:#DEEBFF;
    --bcg-color:#F2F2F2;
}

*{
    box-sizing: border-box;
}

body {
    
    font-family: 'Raleway', sans-serif;
    max-width: 1400px;
    margin: auto;
    
}

/**************** Header ******************/
#header,
#header .navbar-nav {
    display: flex;
}

#header {
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    
}

.logo {
    margin-bottom: 15px;
}

.header-navbar {
    padding-bottom: 14px;
}

.header-navbar .nav-item {
    margin-left: 64px;
    font-weight: bold;
    position: relative;
    padding: 0 20px;
}

.nav-item.active {
    color:var(--main-blue);
}

.header-navbar .nav-item:nth-child(1):before {
    content:"";
    background-color: var(--main-blue);
    width: 100%;
    height:1px;
    position: absolute;
    left: 0;
    top:-28px;
}

/*********** section search **********/
.search{
    padding:0 34px;
}

.search-title {
    margin: 0;
    font-size: 18px;
}

.search-subtitle {
    margin-top: 5px;
    font-size: 14px;
    font-weight: normal;
}

.search-form,
.search-filter,
.search-filter-List,
.search-filter-list-item,
.search-info {
    display: flex;
    align-items: center;
}

/* .search-form {
    width: 30%;
    min-width: 420px;
} */

.search-input label {
    background-color: var(--bcg-color);
    padding: 10px 10px 10px 15px;
    border-radius: 10px 0 0 10px;
}

.search-input input {
    padding: 10px;
    outline: none;
    font-weight: bold;
}

.search-form button {
    padding: 10px;
    border: none;
    background-color: var(--main-blue);
    color: white;
    border: 1px solid var(--main-blue);
    border-radius: 0 10px 10px 0;
}

.search-input label,
.search-input input {
    border: 1px solid var(--bcg-color);
}

.search-filter {
    gap:35px;
}

.search-filter-title {
    font-size: 16px;
}

.search-filter-List{
    padding-left: 0;
    margin-top: 26px;
    gap:24px;
}

.search-filter-list-item {
    border: 2px solid var(--bcg-color);
    padding:0 18px 0 60px;
    border-radius: 25px;
    height: 50px;
    position: relative;
    font-weight:bold;
}

.search-filter-list-item i {
    padding:16px;
    border-radius: 50%;
    background-color: var(--secondary-blue);
    color:var(--main-blue);
    position: absolute;
    left:-5px;
    border: 1px solid var(--secondary-blue);

}

.search-info {
    align-items: flex-start;
    gap:10px;
    font-size: 12px;
    font-weight:bold;
    
}

.search-info i {
    color:var(--main-blue);
    padding: 3px 6px;
    border: 1px solid var(--bcg-color);
    border-radius: 50%;
    
   
}

.search-info p {
   margin-top: 5px;
}

/*************** section lodging-main *****************/
    /*********** common style ************/
.lodging {
    display: flex;
    justify-content: space-around;
    margin-top: 34px;
    font-size: 18px;
}

.cards {
   display: flex;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lodging-main,
.lodging-popular {
    border-radius: 10px;
    background-color: var(--bcg-color);
}

.lodging-popular-card,
.lodging-main-card {
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
    padding: 3px;
}

.card-content{
    padding:0 10px;
    font-size: 12px;
}

.card-content h3 {
    margin-bottom: 0;
}

.card-content P {
    margin-top: 0;
}

.star-icons {
    color:var(--main-blue);
}

.star-gray {
    color:var(--bcg-color);
}

.lodging-main {
    flex-basis: 65%;
}

.lodging-main h2 {
    margin-top: 36px;
    margin-left:26px ;
}

.lodging-main-cards {
    flex-wrap: wrap;
    justify-content: space-around;
    padding:0 12px;
}

.lodging-main-card {
    flex-basis: 30% ;
}

.lodging-main-card .card-img {
    height:115px;
}

.lodging-main-card img {
    border-radius: 10px 10px 0 0;
}

.lodging-main > p {
    padding-left: 26px;
    font-size: 12px;
    font-weight: bold;
}

/********** section lodging-popular *********/
.lodging-popular {
    flex-basis: 25%;
}
.lodging-popular-title {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    margin-top: 36px;
}

.lodging-popular-title h2 {
    margin: 0;
}

.lodging-popular-cards {
    flex-direction: column;
    padding:0 18px;
    margin-top: 20px;
}

.lodging-popular-card a{
    display: flex;
}

.lodging-popular-card .card-img,
.lodging-popular-card .card-content{
    flex-basis: 50%;
}

.lodging-popular-card .card-img{
    height: 132px;
}

.lodging-popular-card img {
    border-radius: 10px 0 0 10px;
}

.lodging-popular-card .card-content{
    padding-left: 15px;
}

.lodging-popular-card p {
    margin-top: 10px;
}

.lodging-popular-card .star-icons {
    margin-top:40px;
}

/****************** section activity ****************/

.activity-card,
.activity-card a,
.activity-card figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activity-card:nth-child(2n+1),
.activity-card:nth-child(2n) a {
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.activity-card:nth-child(2n+1) a,
.activity-card:nth-child(2n+1) figure,
.big-card figcaption,
.small-card-down figcaption,
.activity-card:last-child figcaption {
    flex: 1;
}

.activity-title {
    padding-left: 30px;
    margin-top: 30px;
}

.activity-cards {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    font-size: 14px;
    font-weight: bold;
}

.activity-cards img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.activity-card {
    width: 23%;
    height: 444px;
}

.activity-card:nth-child(2n) {
    gap:40px;
}


.big-card img {
    flex:9;
}

.activity-card figcaption {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.activity-card:nth-child(2n) figure {
  height:100%;
}

.small-card-up {
    height: 60%;
}

.small-card-up img{
    height: 83%;
}

.small-card-up figcaption {
    flex:1;
}

.small-card-down {
    height: 30%;
}

.small-card-down img{
    height: 66%;
}

.activity-card:last-child a  {
    height:45%;
}

.activity-card:last-child img {
    height:77%;
}

/*************** footer *************/

#footer {
    display: flex;
    gap: 182px;
    padding: 0 30px;
    margin-top: 52px;
    background-color: var(--bcg-color);
    font-size: 14px;
}


.footer-title {
    margin-top: 48px;
}

#footer .navbar-nav{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap:18px;
}

/* media query */
/* for medium screen, tablette */
@media screen and (max-width:991.98px) {

    .search-filter-List{
        flex-wrap: wrap;
    }

    .search-filter-List {
        gap:15px;
    }

    .search-filter-list-item {
        margin-right: 16px;
    }

    .lodging {
        flex-direction: column;
        gap: 45px;
        padding: 0 30px;
    }

    .lodging-main-cards {
        gap:10px;
    }

    .lodging-popular-cards {
        gap:10px;
    }

    .lodging-popular-card {
        display: flex;
    }

    .lodging-popular-card a {
        flex:1;
    }

    .lodging-popular-card .card-img {
        flex:2;
        height: 180px;
    }
    .lodging-popular-card .card-content {
        flex:1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .activity-title {
        margin:50px 0 30px;
    }

    .activity-cards {
        flex-wrap: wrap;
        gap: 28px;
    }

    .activity-card {
        width: 48%;
    }

    .activity-card:nth-child(3) {
        order:4;
    }

    #footer {
        justify-content: space-between;
        gap: 0;
    }

}

/* media query */
/* for phone screen */
@media screen and (max-width:767.98px) {

    #header{
        flex-wrap: wrap;
        padding: 0;
    }

    .logo {
        display: flex;
        justify-content: center;
        flex:1 1 100%;
    }

    .header-navbar {
        flex:1;
    }

    #header .navbar-nav {
        padding-left:0;
    }

    .header-navbar .nav-item {
        margin-left:0;
        padding:0;
        flex:1;
        display: flex;
        justify-content: center;
    }

    .header-navbar .nav-item:nth-child(1)::before {
        height:3px;
        top:29px;
    }

    .header-navbar .nav-item:nth-child(2)::before {
        content:"";
        background-color: var(--bcg-color);
        width: 100%;
        height: 3px;
        position: absolute;
        left:0px;
        top:29px;
    }

    

}